body {
    margin: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    max-width:100%;
    height:auto;
    margin-left: 7.4%;
    padding: 0;
    list-style-type: none;    
}

.nav-item {
    padding: 15px;
    cursor: pointer;
}

.nav-item a {
    text-align: center;
    text-decoration: none;
    color: dimgray;
}

.nav-item:nth-child(1) {
    background-color:rgb(255, 231, 231);
}

.nav-item:hover {
    background-color: pink;
}