body {
    margin: 0;
}

.report-container img {
	width: 100%;
	vertical-align: middle;
}
.report-text {
    padding: 5px 10px;
    text-align: center;
    color: dimgray;
	position: absolute;
	top: 50%;
	left: 50%;
}