body {
    margin: 0;
}

.about-grid {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.projects-grid {
    display: flex;
}

.avatar-grid {
      height: 250px;
      padding-top: 5px;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}


.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}
  
.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
  
.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.description p {
    color: rgb(207, 207, 207);
    font-size: 15px;
    padding: 1em;
}


.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
  
.social-links i {
    color: rgb(172, 66, 92);
    font-size: 5em;
    padding: 8px;
}

.pie {
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}