.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100vh;
    transition: 0.5s;
}

%btn-styles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 95%;
    border: none;
    outline: none;
    background: none;
    transition: 0.5s;
    &:hover {
        background: rgba(0, 0, 0, 0.356)
    }
}

#goLeft {
    left: 0;
    @extend %btn-styles;
}

#goRight {
    right: 0;
    @extend %btn-styles;
}


.projects-grid {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
// .projects-grid {
//     display: flex;
// }

.diagram-grid {
      height: 250px;
      padding-top: 5px;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}


.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.banner-text h4 {
    font-size: 20px;
    color: white;
}
  
.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
  
.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.description p {
    color: rgb(207, 207, 207);
    font-size: 15px;
    padding: 1em;
}

